html,
body {
height: 100%;
margin: 0;
}

body {
	background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
}

.header {
color: aqua;
font-family: Arial;
font-size: 45px;
letter-spacing: 10px;
margin-top: 80px;	
}

.header img {
width: 80px;
margin-left: -15px;	
}

.login_div {
background-color:aqua ;
float: none;
border-radius: 15px;
}

.logo {
width: 80px;
margin-top: 20px;
border-radius: 40px;
}

#login_button {
width: 80%;
border-radius: 15px;	
}

.room_name {
cursor: pointer;
font-size: 20px;
}


#logout {
font-size: 15px;
float: right;
}


#output {
padding: 20px;
width: 100%;
background: rgb(255, 255, 255);
border-radius: 15px;	
}

.input_div_room_page {
width: 80%;
}	

.input_div label {
color: #1882c1;
font-size: 20px;
}


.input_div_message_page {
position: fixed;
bottom: 0px;
width: 100%;
background: #006494;
}

.input_div_message_page label {
color: rgb(0, 0, 0);
}

.input_div_message_page #msg {
width: 80%;
}

.input_div_message_page button {
margin-top: 15px;
width: 50%;
}

.color_white {
color: white;
}

.message_h4 {
padding-left: 5px;
color: rgb(0, 0, 0);
}

.user_name_h4 {
	color: rgb(157, 155, 155);
}

#leaveroom {
	font-size: 15px;
	float: left;
	}